<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="flex flex-col gap-4 pt-2">
        <div class="flex flex-col gap-4 pt-2">
            <div class="flex flex-col gap-1">
                <label for="titulo" class="text-sm font-semibold text-slate-700">Usuário</label>
                <p-select
                    [options]="usuarios()"
                    formControlName="usuario"
                    optionLabel="nome"
                    optionValue="id"
                    placeholder="Selecione o usuário"
                    variant="outlined"
                    appendTo="body"
                    [showClear]="true"
                    [filter]="true"
                    filterBy="nome"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="32"
                    fluid
                >
                    <ng-template #selectedItem let-option>
                        <div class="flex items-center gap-2">
                            <i class="pi pi-user"></i>
                            <div>{{ (option.nome + " " + option.sobrenome) | titlecase }}</div>
                        </div>
                    </ng-template>
                    <ng-template #item let-option>
                        <div class="flex items-center gap-2">
                            <i class="pi pi-user"></i>
                            <div>{{ (option.nome + " " + option.sobrenome) | titlecase }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div class="flex flex-col gap-1">
                <label for="motivo" class="text-sm font-semibold text-slate-700">Motivo</label>
                <input
                    pInputText
                    id="motivo"
                    placeholder="Ex: Candidato"
                    formControlName="motivo"
                />
            </div>
        </div>
        <div class="flex justify-between border-t pt-4">
            <p-button
                label="Cancelar"
                icon="pi pi-times"
                variant="outlined"
                severity="secondary"
                (click)="close()"
            />

            <p-button
                label="Salvar"
                icon="pi pi-check"
                type="submit"
            />
        </div>
    </div>
</form>
