<p-card class="dark:border dark:border-gray-500/40 shadow-sm">

    <ng-template #title>
        <div class="flex items-center justify-between gap-3">

            <div>
                <h2 class="text-lg font-bold text-slate-700 !mb-0">
                    Pautas
                </h2>

                <p class="text-xs text-slate-500">
                    Selecione uma pauta para gerenciamento
                </p>
            </div>

            <p-button
                label="Nova Pauta"
                icon="pi pi-plus"
                severity="success"
                (onClick)="editarPauta()" />

        </div>
    </ng-template>

    <div class="flex flex-col gap-3">

        @for (pauta of pautas(); track pauta.id) {

            <app-pauta-card
                [pauta]="pauta"
                [estaSelecionada]="pautaSelecionada()?.id === pauta.id"
                (onSelecionar)="selecionarPauta($event)"
                (onEditar)="editarPauta($event)"
                (onExcluir)="confirmarExcluir($event)"
            />

        } @empty {
            <div class="py-8 text-center text-slate-400">
                @if (this.loading()) {
                    <i class="pi pi-inbox text-2xl mb-2 block"></i>
                    <p>
                        Carregando...
                    </p>
                } @else {
                    <i class="pi pi-inbox text-2xl mb-2 block"></i>
                    <p>
                        Nenhuma pauta cadastrada.
                    </p>
                }
            </div>
        }
    </div>
</p-card>
