<p-card class="border border-slate-200 bg-white shadow-sm">
    <div class="mb-4 flex items-center justify-between">
        <div>
            <h2 class="text-lg font-bold text-surface-900 m-0!">
                Opções de Voto
            </h2>
            <p class="text-xs text-surface-500">
                Opções disponíveis para votação nesta pauta.
            </p>
        </div>
        <p-button
            label="Adicionar Opção"
            icon="pi pi-plus"
            [outlined]="true"
            size="large"
            (onClick)="abrirModalOpcao()"
        />
    </div>
    <p-table
        [value]="lista()"
        [loading]="loading()"
        size="small"
        dataKey="id"
        [resizableColumns]="false"
        stripedRows
        showGridlines
    >
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn class="w-[8%] min-w-[64px]">
                    <p class="font-medium text-center m-0!">#</p>
                </th>
                <th pResizableColumn class="w-[8%] min-w-[64px]">
                    <p class="font-medium text-center m-0!">Icone</p>
                </th>
                <th pResizableColumn class="w-[74%] min-w-[140px]">Titulo</th>
<!--                <th pResizableColumn>Descrição</th>-->
                <th pResizableColumn class="w-[10%] min-w-[90px]">Tipo</th>
                <th class="w-[170px]">
                    <p class="font-medium text-center">
                        Ações
                    </p>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-opcao let-index="rowIndex">
            <tr [attr.data-id]="opcao.id">
                <td>
                    <p class="font-medium text-center">
                        {{ opcao.ordem }}
                    </p>
                </td>
                <td>
                    @if (opcao.icone !== null) {
                        <p class="font-medium text-center">
                            <i [class]="opcao.icone"></i>
                        </p>
                    }
                </td>
                <td>
                    <p class="font-medium line-clamp-1">
                        {{ opcao.titulo }}
                    </p>
                </td>
<!--                <td>-->
<!--                    <p class="font-medium line-clamp-1">-->
<!--                        {{ opcao.descricao }}-->
<!--                    </p>-->
<!--                </td>-->
                <td>
                    @switch(opcao.tipo) {
                        @case('NORMAL') {
                            <p-tag severity="success" value="Normal" />
                        }
                        @case ('EM_BRANCO') {
                            <p-tag severity="secondary" value="Em branco" />
                        }
                        @case ('NULO') {
                            <p-tag severity="contrast" value="Nulo" />
                        }
                        @default {
                            <p-tag severity="danger" value="Error" />
                        }
                    }
                </td>
                <td>
                    <div class="flex justify-center gap-1">
                        <p-button
                            icon="pi pi pi-arrow-down"
                            severity="secondary"
                            [text]="true"
                            pTooltip="Mover acima"
                            [tooltipPosition]="(index + 1) >= lista().length ? 'none' : 'top'"
                            [disabled]="(index + 1) >= lista().length"
                            (click)="aoReOrdenar(index, 'down')"
                        />
                        <p-button
                            icon="pi pi pi-arrow-up"
                            severity="secondary"
                            [text]="true"
                            pTooltip="Mover abaixo"
                            [tooltipPosition]="index < 1 ? 'none' : 'top'"
                            [disabled]="index < 1"
                            (click)="aoReOrdenar(index, 'up')"
                        />
                        <p-button
                            icon="pi pi-pencil"
                            severity="info"
                            [text]="true"
                            (onClick)="abrirModalOpcao(opcao)"
                            pTooltip="Editar"
                            tooltipPosition="top"
                        />
                        <p-button
                            icon="pi pi-trash"
                            severity="danger"
                            [text]="true"
                            (onClick)="confirmarExcluir($event, opcao.id)"
                            pTooltip="Excluir"
                            tooltipPosition="top"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">
                    <div class="py-4 text-center text-surface-400">
                        <i class="pi pi-inbox block text-xl"></i>
                        Nenhuma opção cadastrada para esta pauta.
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
