<div class="min-h-screen flex flex-col gap-4">
    @if (reuniao(); as reuniao) {
        <p-card class="dark:border dark:border-gray-500/40 shadow-sm">
            <ng-template #title>
                <h2>{{ reuniao.titulo }} #{{ id }}</h2>
                <p class="text-2xs">{{ reuniao.dataHoraInicio | date }}</p>
            </ng-template>
            <ng-template #subtitle>
            </ng-template>
            <div>
                <p>
                    <i>{{ reuniao.descricao }}</i>
                </p>
            </div>
        </p-card>
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
            <div>
                <app-pauta-detalhe
                    [reuniaoId]="reuniao.id"
                    [pautaSelecionada]="pautaSelecionada()"
                    (onSelecionarPauta)="selecionarPauta($event)"
                />
                <button type="button" (click)="fazerCheckin()">Teste</button>
            </div>
            <div class="lg:col-span-2">
                @if (pautaSelecionada(); as pauta) {
                    <div class="flex flex-col gap-6">
                        <div>
                            <app-opcoes-voto [reuniao]="reuniao" [pauta]="pauta" />
                        </div>
                        <div>
                            <app-nao-votantes [reuniao]="reuniao" [pauta]="pauta" />
                        </div>

                    </div>
                } @else {
                    <p-card class="border border-dashed border-slate-200 bg-white shadow-sm">
                        <div
                            class="flex h-64 flex-col items-center justify-center rounded-xl p-8 text-center text-slate-400">
                            <i class="pi pi-arrow-left mb-2 text-2xl animate-pulse"></i>
                            <p class="font-medium">
                                Selecione uma pauta à esquerda para gerenciar suas opções e bloqueios.
                            </p>
                        </div>
                    </p-card>
                }
            </div>
        </div>
    } @else {
        Nenhuma Reuniao
    }
</div>
