div[role='button'] {
    outline: none;

    &:focus-visible, &:hover {
        outline: 2px solid var(--p-primary-color);
        outline-offset: -2px;

        -webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.4);
        box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.4);

        border-radius: 0.5rem;
    }

    &:active {
        transform: translateY(1px);
    }

    transition:
        outline-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.1s ease;
}
